

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    display: flex;

}

#logo {
    background-color: #dc143c;
    width: 2.5em;
    height: 2em;
    color: #fff;
    text-align: center;
    font-size:3em;
    padding-top: 0.6em;
    margin-left: 0.5em;
    box-shadow: 1px 4px 1px brown;
    border-radius:2px 1px 1px 1.1em;
    box-shadow: 1px 4px 1px brown;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: 'Tangerine', serif;
    text-shadow: 4px 2px 2px #aaa;
    font-weight: 700;
}

.text {
    margin-left: 2em;
    font-size: 22px;
    font-weight: 700;
    color: #dc143c;
    padding-top: 3.5em;
}

.dashboard {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3em;
    /* margin-left: 3em; */
}


.cases {
    width: 14em;
    box-shadow: 4px 4px #f19090;
    border: 0.1px solid #f5bbbb;
    padding-bottom: 2em;
    padding-left: 0.5em;
    margin-left: 2em;

}

.cases span {
    font-weight: 700;
}

.cases .fa-caret-up {
    color: red;
}

.cases .fa-caret-down {
    color: green;
}

.data {
    display: flex;
    justify-content: space-between;
    margin-left: 108px;
    
}

.imj{
    margin-left: 2em;
}

#header1{
    background-color: #dc143c;
}

.data table {
    width: 60em;
    margin-left: 1em;
}

.tips {
    width: 15.8em;
    border: 2px solid #e22198;
    border-radius: 2px;
    margin-right: 3.8em;
    margin-bottom: 8em;
    height: 15em;
    margin-top: 12em;
    background-color: lightpink;
    
}

.tips p {
    text-align: center;
    color: #000;
    border: .1px solid #e49191;
    background-color: #e49191;
    font-weight: 800;
    width: 253px;
    margin-left: -1px;
    border-radius: 2px;
    height: 36px;
    margin-top: 0px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

img {
    margin-left: 1em;
}

 #loading{
    
        border: 5px dotted darkgoldenrod;
        border-radius: 50%;
        border-top-color: rgb(230, 24, 24);
        border-bottom-color: rgb(230, 49, 49);
        border-left-color: purple;
        border-right-color: purple;
        width: 80px;
        height: 80px;
        animation: spin 8s linear infinite; 
        animation: spin 2s linear infinite;
        position: relative;
        left: 700px;
        top: 125px;
        
      }

      
      
       @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
          0% { transform: rotate(0deg); }
          100% { transform: rotate(360deg); }
          
      } 

@media only screen and (max-width: 600px){
    .cases{
        margin-bottom: 2em;
    }
    .dashboard{
        display: block;
        margin-left: 10em;
        margin-top: 2em;
        margin-bottom: 5em;
    }
    .data{
        display: block;
        margin-top: -5em;
    }
    .tips{
        margin-top: 15em;
        margin-left: 20em;

    }
    #loading{
        top: 12em;
    }
    
}
